/*cronometer*/
.box{
  background-color: #6b2cbf;
  height:100px;
  width:23s0px;
  padding: 10px 30px;
  box-sizing: border-box;
  position:absolute;
  left:10%;
  top:10%;
  box-shadow: -7px 12px 9px #6666ff;
  border-radius: 4px;
}
p{
  color:white;
  display: inline-block;
  font-size:27px;
  font-family: Sans-serif;
  font-weight:bold;
}
 p.time{
   margin-right:7px;
 }
/*board*/
.board{
  position:absolute;
  left:30%;
  top:10%;
}
.cellB, .cellW {
  width:50px;
  height:50px;
  border: solid 1px #00868b;
  display:inline-block;
  padding: 0px;
  position:relative; /*se va a posicionar a traves del elemento padre*/
  margin: -3px; /*junta las celdas(sin espacios)*/
}
.cellB{
background-color:#987b84;
}
.cellW{
  background-color:#ffffff;
}
.cellB:hover{
  box-shadow: inset 0 0 30px  #00868b;
}
.cellW:hover{
  box-shadow: inset 0 0 20px  #00868b;
}
