body{
  text-align:center; /*entra el texto verticalmente*/
  line-height:100vh;/**unidad de medida relativa al tamaño total (Viewport Height)*/
  margin: 0;
}

button{
  vertical-align:middle;
  width: 100px;
  height: 400px;
}
