body{
  /* centra el texto verticalmente */
  text-align:center;
  /* unidad de medida relativa al tamaño total (Viewport Height) */
  line-height:100vh;
  margin: 0;
  background-color: black;
}

button{
  vertical-align:middle;
  width: 90px;
  height: 300px;
  font-weight: bold;
  font-size: 18px;
}
.buttonClick {
    background-color: blue;
}
